@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.55rem;

    /* Shadows */
    --shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
    --shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.04);
    --shadow-border-small: var(--shadow-border), var(--shadow-small);
    --shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04),
      0px 8px 8px -8px rgba(0, 0, 0, 0.04);
    --shadow-border-medium: var(--shadow-border), var(--shadow-medium);
    --shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --shadow-border-large: var(--shadow-border), var(--shadow-large);
    --shadow-tooltip: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    --shadow-dialog: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 4px 8px -4px rgba(0, 0, 0, 0.04),
      0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    --shadow-dialog: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04),
      0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --shadow-fullscreen: var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 8px 16px -4px rgba(0, 0, 0, 0.04),
      0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
